<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <link rel="icon" type="image/x-icon" href="/assets/img/fast_cart.png" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
     <link href="/css/loginstyles.css" rel="stylesheet" />
    <title>Login!</title>

    
  </head>
 <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form class="form-signin" method="POST" onSubmit="return validate_login()">
              

              

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name='email' >
                <label for="inputEmail">Email address</label>
                 <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <span  id='email_message' style="color: red;"></span>
                    </div>
                 </div>
              </div>


              
              

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password'>
                <label for="inputPassword">Password</label>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <span  id='password_message' style="color: red;"></span>
                    </div>
                 </div>
              </div>



               <div class="row justify-content-md-center">
                    
                    <div class="col-md-auto">
                        <span  id='error_message' style="color: red;">{{errors}}</span>
                    </div>
                 </div>
                
                 <br>



              
              <div class="row justify-content-md-center">
                  <div class="col-md-auto">
                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" formaction="/auth/login" >Log in</button>
                </div>
              </div>
              <br>
              <div class="row justify-content-md-center">
                  <div class="col-md-auto">
                    <p class="text-whitesmoke text-center">Do not have an account?</p></div>
              <div class="col-md-auto">
                    <a class="text-darkyellow" href="/customer/register"><small>Register</small></a>
              </div>
              <hr class="my-4">
               <p class="margin-t text-whitesmoke-right"><small> C-Center &copy; 2021</small> </p>
            </form>
            
      
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      
function validate_login(){
        //console.log("in fun");
         $("#email_message").empty();
          $("#password_message").empty();
       var email =document.getElementById("inputEmail").value;
       var password =document.getElementById("inputPassword").value;
       var is_valid=true;
       var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
       if(!email.match(mailformat)){
           is_valid=false;
           $('#email_message').html("Invalid Email. Please Enter a valid Email");
       }
        if(password.length<4){
            is_valid=false;
           $('#password_message').html("Invalid Password. Please Enter a valid Password");
        }
        if(is_valid==false){
            return false;
        }
        else{
            return true;
        }
    }
  </script>

  
  
</body>

</html>